---
import { getCollection, getEntry } from "astro:content";

export const getStaticPaths = async () => {
  const allProjects = await getCollection("projects");

  let paths = allProjects.map((p) => ({
    params: { project: p.id },
  }));

  return paths;
};

const { project } = Astro.params;
const projectToRender = await getEntry("projects", project);
const { title, description, videoUrl, externalUrl } = projectToRender.data;
---

<div>Title: {title}</div>
<div>Description: {description}</div>
<div>Video: {videoUrl}</div>
<div>Project Url: {externalUrl}</div>
